{
  "extends": "airbnb",
  "env": {
    "jquery": true
  },
  "rules": {
    "comma-dangle": [2, always-multiline],
    "curly": [2, multi-line],
    "func-names": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-alert": 0,
    "no-loop-func": 1,
    "no-script-url": 0,
    "no-use-before-define": [2, nofunc],
    "semi": [2, never]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}

