// 布局相关的样式

$sideWidth: 160px;
$headerHeight: 64px;

$lightSideColor: #fff;
$darkSideColor: #313D4A;
$sideColor: $lightSideColor;

body {
  background: #ddd;
  color: #333;
  font-size: 14px;
}

h2, h3, h4 {
  color: #3C444D;
  font-weight: 400;
  display: inline-block;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

a,
a:hover,
a:visited {
  color: currentColor;
  text-decoration: none;
}

header {
  height: $headerHeight;
  line-height: $headerHeight;
  background: $mainColor;
  color: #fff;
  text-align: left;
  padding: 0 20px;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
  }

  .login-info {
    float: right;
  }

  .logout {
    margin-left: 20px;
    color: #fff;

    svg {
      vertical-align: middle;
      margin-left: 6px;
      position: relative;
      top: -1px;
    }
  }
}

aside.side {
  width: $sideWidth;
  position: absolute;
  left: 0;
  top: $headerHeight;
  bottom: 0;
  background-color: $lightSideColor;
  color: #657B90;
  z-index: 10;

  .ant-menu-inline, .ant-menu-vertical {
    border: none;
  }

  .ant-menu-dark {
    background-color: $darkSideColor;

    .ant-menu-sub {
      background-color: $darkSideColor;
    }
  }
}

main {
  margin-left: $sideWidth;
  position: absolute;
  left: 0;
  top: $headerHeight;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

.wrap {
  padding: 20px;
}

.content {
  padding: 20px;
  min-width: 800px;
  background-color: #fff;

  .content-head {
    padding-bottom: 10px;
  }

  .content-body {
    padding-top: 10px;

    $filterHeight: 30px;
    $inputWidth: 200px;

    .filter {
      padding: 10px 0px 15px;
      line-height: $filterHeight;

      .ant-form-item-control {
        margin-bottom: 10px;

        input {
          height: $filterHeight;
          width: $inputWidth;
          border-radius: 4px;
          font-size: 14px;
        }
      }

      .ant-select {
        width: $inputWidth;
      }

      .ant-select-selection,
      .ant-select-lg .ant-select-selection--single .ant-select-selection__rendered {
        height: $filterHeight;
        line-height: $filterHeight;
        font-size: 14px;
      }

      button {
        height: $filterHeight;
        float: right;
      }

      label {
        font-size: 14px;
        margin: 0 10px;
      }

      .divider {
        margin: 0 10px;
      }

      //button,
      //button:hover {
      //  background: #208CF9;
      //  color: #fff;
      //  width: 60px;
      //  height: $filterHeight;
      //  font-size: 14px;
      //  padding: 0;
      //}
      //
      //button[disabled],
      //button[disabled]:hover {
      //  color: #fff;
      //  background: rgba(32, 140, 249, 1);
      //  opacity: 0.54;
      //  border-color: #0C6EBE;
      //}
    }

  }

  .ant-table-body {
    th, td {
      text-align: center;
    }

    a {
      color: #438DE0;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  // 待用
  .ant-spin-nested-loading {
    position: static;
  }

  .ant-spin-nested-loading .ant-spin {
    margin-left: 0;
  }

  .ant-breadcrumb {
    margin-bottom: 15px;
  }

  .ant-breadcrumb > span {
    color: #438DE0;
  }

  .ant-breadcrumb > span:last-child {
    color: #333;
    font-weight: 400;
  }

}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.inline {
  display: inline-block;
}
