// 订单列表
.order-status-select {
  margin-left: 10px;
}

// 订单详情

.detail-modal-wrap {
  line-height: 2;

  .header {
    border-bottom: 1px solid #333;
    margin-top: -8px;
    padding-bottom: 3px;
    margin-bottom: 10px;
  }

  .footer {
    border-top: 1px solid #333;
    padding-top: 10px;
  }

  .panel {
    margin: 5px 0;

    .ent-info, .user-info, .order-info {
      //border-bottom: 1px solid #ddd;
    }
  }

  .part {
    margin-left: 1px;
    padding: 10px 0;
  }

  li {
  }

  p {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-break: break-all;
  }

  .food-price {
    margin-left: 20px;
  }
}